allure-pytest>=2.13,<3
Appium-Python-Client>=2.10,<4
numpy>=1.26,<3
opencv-python>=4.10,<5
openpyxl>=3.1,<4
pytest>=7.4,<9
pytest-rerunfailures>=15,<17
PyYAML>=6,<7
requests>=2.31,<3
scikit-image>=0.22,<1
selenium>=4.9,<5
